.media {
  position: absolute;
  left: -100px;
  top: 50%;
  transform: rotate(-90deg);

  ul {
    list-style: none;

    li {
      display: inline-block;
      font-weight: 500;

      &:not(:last-child) {
        padding-right: 60px;
      }
    }
  }
}
